/* Estilos globais (index.css) */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fly {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  0.1% {
    transform: translateX(0) translateY(0) rotate(10deg);
  }
  100% {
    transform: translateX(2600px) translateY(-500px) rotate(80deg);
  }
}

.animate-plane {
  position: absolute;
  visibility: hidden;
}

.fly-animation {
  visibility: visible;
  animation: fly 15s infinite;
}






.light-mode {
  background-color: #F1F1F1; 
  color: #000000; 
}


.dark-mode {
  background-color: #2E2A44; 
  color: #ffffff; 
}

body {
  background-color: #F1F1F1; 
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  padding: 1rem;
  position: relative;
  top: 0;
  z-index: 10;
}

footer {
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

::-webkit-scrollbar-corner {
  background-color: transparent; 
}
