/* Estilos globais (index.css) */

@tailwind base;
@tailwind components;
@tailwind utilities;


.light-mode {
  background-color: #F1F1F1; 
  color: #000000; 
}


.dark-mode {
  background-color: #2E2A44; 
  color: #ffffff; 
}

body {
  background-color: #F1F1F1; 
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  padding: 1rem;
  position: relative;
  top: 0;
  z-index: 10;
}

footer {
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
